export(check_receipt)
export(get_sounds)
export(get_user_devices)
export(is.acknowledged)
export(is.user_device)
export(is.valid_device)
export(is.valid_key)
export(is.valid_receipt)
export(is.valid_token)
export(pushover)
export(send)
export(validate_key)
exportClasses(PushoverMessage)
exportClasses(PushoverResponse)
importFrom(httr,GET)
importFrom(httr,POST)
importFrom(httr,content)
