export(PushoverMessage)
export(PushoverResponse)
export(check_receipt)
export(get_app_token)
export(get_sounds)
export(get_user_devices)
export(get_user_key)
export(is.acknowledged)
export(is.user_device)
export(is.valid_device)
export(is.valid_key)
export(is.valid_receipt)
export(is.valid_token)
export(pushover)
export(pushover_emergency)
export(pushover_high)
export(pushover_normal)
export(pushover_priorities)
export(pushover_quiet)
export(pushover_sounds)
export(set_app_token)
export(set_group_key)
export(set_user_key)
export(validate_key)
exportClasses(PushoverMessage)
exportClasses(PushoverResponse)
exportMethods(content_value)
exportMethods(headers)
exportMethods(http_status_code)
exportMethods(is.success)
exportMethods(receipt)
exportMethods(request)
exportMethods(send)
exportMethods(show)
exportMethods(status)
importFrom(httr,GET)
importFrom(httr,POST)
importFrom(httr,content)
